<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>selectAll.html</title>
</head>
<body >
	<a href="/calendar">캘린더</a>
	<div >
		<h1>selectAll.html</h1>

		
		<table id="insertTable">
			<thead>
				<tr>
					<th>chat_id</th>
					<th>party_id</th>
					<th>chat_wdate</th>
					<th>chat_writer</th>
					<th>chat_content</th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				<th:block th:each="vo : ${list}">
					<tr>
						<td>[[${vo.chat_id}]]</td>
						<td>[[${vo.party_id}]]</td>
						<td>[[${vo.chat_wdate}]]</td>
						<td>[[${vo.chat_writer}]]</td>
						<td>[[${vo.chat_content}]]</td>		
						<td>
							<form action="/chat/deleteOK" method="post">
								<input type="hidden" name="chat_id" th:value="${vo.chat_id}">
								<table id="insertTable">
									<tr>
										<th><input type="submit" value="삭제"></th>
									</tr>
								</table>
							</form>
						
						</td>			
					</tr>
				</th:block>
			</tbody>
		</table>
		
		<form action="/chat/insertOK" method="post">
			<table id="insertTable">
				<tr>
					<td><label for="party_id">party_id</label></td>
					<td>1<input type="hidden" id="party_id" name="party_id" value="1"
						placeholder="party_id를 입력하세요"></td>
				</tr>
				<tr>
					<td><label for="chat_writer">chat_writer</label></td>
					<td>off<input type="hidden" id="chat_writer" name="chat_writer" value="off"
						placeholder="chat_writer를 입력하세요"></td>
				</tr>

				<tr>
					<td><label for="chat_content">chat_content</label></td>
					<td><input type="text" id="chat_content" name="chat_content" value="챗내용"
						placeholder="chat_content 입력하세요"></td>
				</tr>
				<tr>
					<td colspan="2"><input type="submit" value="입력"></td>
				</tr>
			</table>
		</form>


	</div>

</body>
</html>