<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<div th:replace="~{layout::boottemplate}"></div>
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<script>
	$(function() {
		console.log("ready....");
		$("#btn_partyNameCheck").click(function() {
			console.log("click....");
			let url2 = "http://localhost:8820/party/nameCheck";
			$.ajax({
				url : url2,
				type : "post",
				data : {
					party_name : $("#party_name").val()
				},
				dataType : "json",
				success : function(response) {
					console.log(response);
					let message = '';
					if (response.result === 'OK') {
						message = '사용가능';
					} else {
						message = '중복된 파티명';
					}
					$("#result").html(message);
				},
				error : function(ex) {
					console.log(ex);
				}
			});
		});
	});
</script>
</head>
<body th:replace="~{layout::layout}">
<hr>
<div th:fragment="content">	
<form action="/party/insertOK" method="post">
		<table>
			<tr>
				<td><label for="party_name">파티명</label></td>
				<td><input type="text" id="party_name" name="party_name" placeholder="파티명을 입력하세요"></td>
				<td><input type="button" id="btn_partyNameCheck" value="파티명중복확인"> <span id="result">사용가능
							or 중복된 파티명</span></td>
			</tr>
			<tr>
				<td><label for="party_master">파티장</label></td>
				<td><input type="hidden" id="party_master" name="party_master" th:value=${session.user_character} >[[${session.user_character}]]</td>
			</tr>
			<tr>
				<td colspan="2"><input type="submit" value="파티생성완료"></td>
			</tr>			
		</table>
	</form>
</div>
</body>
</html>