<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<div th:replace="~{layout::boottemplate}"></div>
</head>
<body th:replace="~{layout::layout}">
<hr>
<div th:fragment="content">
	<form action="/party/updateOK" method="post">
		<table>
			<tr>
				<td>party_id</td>
				<td><input type="hidden" id="party_id" name="party_id" th:value="${vo2.party_id}" >[[${vo2.party_id}]]</td>
			</tr>
			<tr>
				<td>party_name</td>
				<td><input type="text" id="party_name" name="party_name" th:value="${vo2.party_name}" placeholder="파티명을 입력하세요"></td>
			</tr>
			<tr>
				<td>party_master</td>
				<td><input type="hidden" id="party_master" name="party_master" th:value="${vo2.party_master}">[[${vo2.party_master}]]</td>
			</tr>
			<tr>
				<td colspan="2"><input type="submit" value="수정완료"></td>
			</tr>
			
		</table>
	</form>
</div>
</body>
</html>