<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>selectAll.html</title>
</head>
<body >

	<a href="/event/insert">일정추가</a>
	<a href="/eventLike/selectAll">전체좋아요</a>
	<a href="/chat/selectAll">챗팅</a>
	<hr>
	<a th:href="|/event/calendar?party_id=${1}|">1파티 캘린더</a>
	<a th:href="|/event/calendar?party_id=${2}|">2파티 캘린더</a>
	<div >
		<h1>[[${month}]]</h1>
		<a th:href="|/event/searchListPartyMonth?party_id=${party_id}&month=${month-1}|">이전달</a>
		<a th:href="|/event/searchListPartyMonth?party_id=${party_id}&month=${month+1}|">다음달</a>

		<form action="/event/searchList">
			<select name="searchKey">
				<option value="event_title">event_title</option>
				<option value="month">month</option>
			</select> <input type="text" name="searchWord" value="09"> <input
				type="submit" value="검색">
		</form>
		<table id="insertTable">
			<thead>
				<tr>
					<th>event_id</th>
					<th>party_id</th>
					<th>event_title</th>
					<th>event_content</th>
					<th>event_startTime</th>
					<th>event_endTime</th>
					<th>event_location</th>
					<th>event_bosstag</th>
					<th>event_character</th>

				</tr>
			</thead>
			<tbody>
				<th:block th:each="vo : ${list}">
					<tr>
						<td><a th:href="|/event/selectOne?event_id=${vo.event_id}|">[[${vo.event_id}]]</a></td>
						<td>[[${vo.party_id}]]</td>
						<td>[[${vo.event_title}]]</td>
						<td>[[${vo.event_content}]]</td>
						<td>[[${vo.event_startTime}]]</td>
						<td>[[${vo.event_endTime}]]</td>
						<td>[[${vo.event_location}]]</td>
						<td>[[${vo.event_bosstag}]]</td>
						<td>[[${vo.event_character}]]</td>
						
						
					</tr>
				</th:block>
			</tbody>
		</table>


	</div>

</body>
</html>