<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<title>calendar</title>
	<div th:replace="~{layout::boottemplate}"></div>
</head>

<body th:replace="~{layout::layout}">

	
	<div th:fragment="content">
		<a href="/event/insert">일정추가</a>
		
		<a href="/main">메인</a>
		
		<!-- <a href="/eventLike/selectAll">전체좋아요</a>
		<a href="/chat/selectAll">챗팅</a> -->
		<hr>
		<table id="insertTable">
			<thead>

					<th:block th:each="pvo : ${plist}">
					<tr><a th:href="|/event/searchListPartyMonth?party_id=${pvo.party_id}&month=${month}&year=${year}|">[[${pvo.party_id}]] 파티</a></tr>
					<tr><a th:href="|/chat/room2/${pvo.party_id}|">[[${pvo.party_id}]]파티채팅방</a></tr>				
					</th:block>
			</thead>
			<tbody>				
			</tbody>
		</table>	
		<hr>	
		<h1>[[${year}]]년 [[${month}]]월</h1>
		<a th:href="|/event/searchListPartyMonth?party_id=${party_id}&month=${month-1}&year=${year}|">이전달</a>
		<a th:href="|/event/searchListPartyMonth?party_id=${party_id}&month=${month+1}&year=${year}|">다음달</a>

		<form action="/event/searchListTitle">
			</select> <input type="text" name="searchWord" value="일정이름"> <input
				type="submit" value="검색">
		</form>
		<table id="insertTable">
			<thead>
				<tr>
					<th>event_id</th>
					<th>party_id</th>
					<th>event_title</th>
					<th>event_content</th>
					<th>event_startTime</th>
					<th>event_endTime</th>
					<th>event_location</th>
					<th>event_bosstag</th>
					<th>event_character</th>

				</tr>
			</thead>
			<tbody>
				<th:block th:each="vo : ${list}">
					<tr>
						<td><a th:href="|/event/selectOne?event_id=${vo.event_id}|">[[${vo.event_id}]]</a></td>
						<td>[[${vo.party_id}]]</td>
						<td>[[${vo.event_title}]]</td>
						<td>[[${vo.event_content}]]</td>
						<td>[[${vo.event_startTime}]]</td>
						<td>[[${vo.event_endTime}]]</td>
						<td>[[${vo.event_location}]]</td>
						<td>[[${vo.event_bosstag}]]</td>
						<td>[[${vo.event_character}]]</td>
						
						
					</tr>
				</th:block>
			</tbody>
		</table>

		<table id="insertTable">
			<tbody>
				<th:block th:each="vo2 : ${chat_list}">
					<tr>
						<td>[[${vo2.chat_id}]]</td>
						<td>[[${vo2.party_id}]]</td>
						<td>[[${vo2.chat_wdate}]]</td>
						<td>[[${vo2.chat_writer}]]</td>
						<td>[[${vo2.chat_content}]]</td>		
						<td>
							<form action="/chat/deleteOK" method="post">
								<input type="hidden" name="chat_id" th:value="${vo2.chat_id}">
								<table id="insertTable">
									<tr>
										<th><input type="submit" value="삭제"></th>
									</tr>
								</table>
							</form>
						
						</td>			
					</tr>
				</th:block>
			</tbody>
		</table>
		
		<form action="/chat/insertOK" method="post">
			<table id="insertTable">
				<tr>
					<td><label for="party_id">party_id</label></td>
					<td>[[${party_id}]]<input type="hidden" id="party_id" name="party_id" th:value=${party_id}
						placeholder="party_id를 입력하세요"></td>
				</tr>
				<tr>
					<td><label for="chat_writer">chat_writer</label></td>
					<td>[[${session.user_character}]]<input type="hidden" id="chat_writer" name="chat_writer" th:value=${session.user_character}
						placeholder="chat_writer를 입력하세요"></td>
				</tr>

				<tr>
					<td><label for="chat_content">chat_content</label></td>
					<td><input type="text" id="chat_content" name="chat_content" value="챗내용"
						placeholder="chat_content 입력하세요"></td>
				</tr>
				<tr>
					<td colspan="2"><input type="submit" value="입력"></td>
				</tr>
			</table>
		</form>


	</div>

</body>
</html>