<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<title>calendar</title>
	<div th:replace="~{layout::boottemplate}"></div>
</head>

<body th:replace="~{layout::layout}">

	
	<div th:fragment="content">
		<a href="/event/insert">일정추가</a>
		
		<a href="/main">메인</a>
		
		<!-- <a href="/eventLike/selectAll">전체좋아요</a>
		<a href="/chat/selectAll">챗팅</a> -->
		<hr>
		<table id="insertTable">
			<thead>

					<th:block th:each="pvo : ${plist}">
					<tr><a th:href="|/event/searchListPartyMonth?party_id=${pvo.party_id}&month=${month}&year=${year}|">[[${pvo.party_id}]] 파티</a></tr>
					<tr><a th:href="|/chat/room2/${pvo.party_id}|">[[${pvo.party_id}]]파티채팅방</a></tr>				
					</th:block>
			</thead>
			<tbody>				
			</tbody>
		</table>	
		<hr>	
		<form action="/event/searchListTitle">
			</select> <input type="text" name="searchWord" value="일정이름"> <input
				type="submit" value="검색">
		</form>
		


	</div>

</body>
</html>