<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<div th:replace="~{layout::boottemplate}"></div>
<script th:inline="javascript">

function closePopupAndRedirect() {
	// 부모 창이 특정 링크로 이동하도록 설정

	if (formSubmitted) {
		if (window.opener) {
			window.opener.location.href = '/cindex';  // 원하는 URL로 리다이렉트
		}
		// 팝업 창을 닫음
		window.close();
	}
}


</script>


</head>

<body>
	<th:block>
		<div class="gtco-container">
			<div class="row">
				<div class="col-md-12 col-md-offset-0">
					<div class="row row-mt-15em">
						<div class="col-md-4 col-md-push-1 animate-box" data-animate-effect="fadeInRight">
							<div class="form-wrap">
								<div class="tab">
									<div class="tab-content">
										<div class="tab-content-inner active" data-content="signup">
											<h3>캘린더 일정 추가</h3>
											<form action="/event/insertOK" method="post" th:target="submitFrame"
												th:onsubmit="formSubmitted = true;">
												
												<input type="hidden" id="party_id" name="party_id"
													th:value="${param.party_id}">
												
												<div class="row form-group">
													<div class="col-md-12">
														<label for="event_title">제목</label>
														<input type="text" id="event_title" name="event_title"
															placeholder="event_title를 입력하세요" class="form-control" >												
													</div>
												</div>
												
												<div class="row form-group">
													<div class="col-md-12">
														<label for="event_content">내용</label>
														<input type="text" id="event_content" name="event_content"
															placeholder="event_content를 입력하세요" class="form-control" >												
													</div>
												</div>
												
												<div class="row form-group">
													<div class="col-md-12">
														<label for="startTime">시작</label>
														<input type="datetime-local" id="startTime" name="startTime" class="form-control" >												
													</div>
												</div>
												
												<div class="row form-group">
													<div class="col-md-12">
														<label for="endTime">끝</label>
														<input type="datetime-local" id="endTime" name="endTime" class="form-control" >												
													</div>
												</div>
												
												<div class="row form-group">
													<div class="col-md-12">
														<label for="event_location">지역</label>
														<input type="text" id="event_location" name="event_location"
															placeholder="event_location 입력하세요" class="form-control" >												
													</div>
												</div>	
																							
												<div class="row form-group">
													<div class="col-md-12">
														<label for="boss">공략 보스</label>
														<select id="event_bosstag" name="event_bosstag" class="form-control">
															<option selected disabled hidden>보스 선택</option>
															<option value="림보">림보</option>
															<option value="카림">카림</option>
															<option value="감시자 칼로스">감시자 칼로스</option>
															<option value="선택받은 세렌">선택받은 세렌</option>
															<option value="검은 마법사">검은 마법사</option>
															<option value="듄켈">듄켈</option>
															<option value="진 힐라">진 힐라</option>
															<option value="더스크">더스크</option>
															<option value="윌">윌</option>
															<option value="루시드">루시드</option>
															<option value="가디언 엔젤 슬라임">가디언 엔젤 슬라임</option>
															<option value="데미안">데미안</option>
															<option value="스우">스우</option>
															<option value="시그너스">시그너스</option>
															<option value="핑크빈">핑크빈</option>
															<option value="아카이럼">아카이럼</option>
															<option value="혼테일">혼테일</option>
															<option value="반레온">반레온</option>
															<option value="벨룸">벨룸</option>
															<option value="블러디 퀸">블러디 퀸</option>
															<option value="피에르">피에르</option>
															<option value="반반">반반</option>
															<option value="파풀라투스">파풀라투스</option>
															<option value="카웅">카웅</option>
															<option value="힐라">힐라</option>
															<option value="매그너스">매그너스</option>
															<option value="자쿰">자쿰</option>
															<option value="발록">발록</option>
														</select>
													</div>
												</div>
												
												<div class="row form-group">
													<div class="col-md-12">
														<label for="event_character">이벤트 타입</label>
														<select id="event_character" name="event_character" class="form-control">
															<option selected disabled hidden>이벤트 타입 선택</option>
															<option value="오프라인">오프라인</option>
															<option value="온라인">온라인</option>
															
														</select>
													</div>
												</div>
												
												


												
												<div class="row form-group">
													<div class="col-md-12">
														<input type="submit" id="submitButton"
															class="btn btn-primary btn-block" value="게시글 작성" 
															title="내용을 작성하세요.">
													</div>
												</div>
											</form>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<iframe name="submitFrame" style="display:none;" th:onload="closePopupAndRedirect()"></iframe>
	</th:block>

		<!-- <form action="/event/insertOK" method="post">
			<table id="insertTable">
				<tr>
					<td><label for="party_id">party_id</label></td>
					<td>[[${param.party_id}]]<input type="hidden" id="party_id" name="party_id" th:value="${param.party_id}"
						></td>
				</tr>
				<tr>
					<td><label for="event_title">event_title</label></td>
					<td><input type="text" id="event_title" name="event_title" th:value="${vo2.event_title}"
						placeholder="event_title를 입력하세요"></td>
				</tr>

				<tr>
					<td><label for="event_content">event_content</label></td>
					<td><input type="text" id="event_content" name="event_content" value="일정내용"
						placeholder="event_content를 입력하세요"></td>
				</tr>
				<tr>
					<td><label for="event_startTime">event_startTime</label></td>
					<td><input type="text" id="event_startTime" name="event_startTime" value="2024-10-11 03:30:30"
						placeholder="event_startTime를 입력하세요"></td>
				</tr>
				<tr>
					<td><label for="event_endTime">event_endTime</label></td>
					<td><input type="text" id="event_endTime" name="event_endTime" value="2024-10-12 02:20:20"
						placeholder="event_endTime를 입력하세요"></td>
				</tr>
				<tr>
					<td><label for="event_location">event_location</label></td>
					<td><input type="text" id="event_location" name="event_location" value="서울"
						placeholder="event_location를 입력하세요"></td>
				</tr>
				<tr>
					<td><label for="event_bosstag">event_bosstag</label></td>
					<td><input type="text" id="event_bosstag" name="event_bosstag" value="검마"
						placeholder="event_bosstag를 입력하세요"></td>
				</tr>
				<tr>
					<td><label for="event_character">event_character</label></td>
					<td><input type="text" id="event_character" name="event_character" value="오프라인or온라인"
						placeholder="event_character를 입력하세요"></td>
				</tr>
				<tr>
					<td colspan="2"><input type="submit" value="가입완료"></td>
				</tr>
			</table>
		</form> -->
		<!-- jQuery -->
	<script src="/js/jquery.min.js"></script>
	<!-- jQuery Easing -->
	<script src="/js/jquery.easing.1.3.js"></script>
	<!-- Bootstrap -->
	<script src="/js/bootstrap.min.js"></script>
	<!-- Waypoints -->
	<script src="/js/jquery.waypoints.min.js"></script>
	<!-- Carousel -->
	<script src="/js/owl.carousel.min.js"></script>
	<!-- countTo -->
	<script src="/js/jquery.countTo.js"></script>
	<!-- Stellar Parallax -->
	<script src="/js/jquery.stellar.min.js"></script>
	<!-- Magnific Popup -->
	<script src="/js/jquery.magnific-popup.min.js"></script>
	<script src="/js/magnific-popup-options.js"></script>
	<!-- Datepicker -->
	<script src="/js/bootstrap-datepicker.min.js"></script>
	<!-- Main -->
	<script src="/js/main.js"></script>

</body>
</html>