<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>reportboardCommentInsert</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css"> <!-- Include Bootstrap CSS for styling -->
    <script src="/js/jquery.min.js"></script> <!-- Include jQuery -->
    <script src="/js/bootstrap.min.js"></script> <!-- Include Bootstrap JS -->


</head>

<body>

    <div class="gtco-container" th:fragment="commentinsert">
        <form action="/reportboardcomment/insertOK" method="post" onsubmit="event.preventDefault(); checkLoginBeforeComment(this);">
            <!-- Hidden fields -->
            <input type="hidden" name="report_board_id" th:value="${vo2.report_board_id}">
            <input type="hidden" name="report_board_comment_writer" th:value="${session.user_character}">

            <div class="row form-group">
                <div class="col-md-12">
                    <textarea id="report_board_comment_content_${vo2.report_board_id}" name="report_board_comment_content"
                        cols="30" rows="5" class="form-control" placeholder="최대 200자까지 입력 가능합니다."
                        maxlength="200"></textarea>
                </div>
            </div>
            <div class="button-comment">
                <button type="submit" class="btn btn-primary">등록</button>
            </div>
        </form>
    </div>

</body>

</html>
