<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>ReportBoardCommentUpdate</title>
    <div th:replace="~{layout::boottemplate}"></div>

    <script th:inline="javascript">
        var formSubmitted = false;
        var reportBoardId = [[${ vo2.report_board_id }]]; // vo2가 제대로 정의되었는지 확인

        function closePopupAndRedirect() {
            console.log("Closing popup with ID:", reportBoardId); // 디버깅용 로그
            if (formSubmitted) {
                if (window.opener) {
                    window.opener.location.href = `/reportboard/selectOne?report_board_id=${reportBoardId}`;
                }
                window.close(); // 팝업 창 닫기
            } else {
                console.log("Form was not submitted.");
            }
        }
    </script>
</head>

<body>
    <div class="gtco-container">
        <div class="row">
            <div class="col-md-12 col-md-offset-0">
                <div class="row row-mt-15em">
                    <div class="col-md-6 col-md-push-3 animate-box" data-animate-effect="fadeInRight">
                        <div class="form-wrap">
                            <div class="tab">
                                <div class="tab-content">
                                    <div class="tab-content-inner active" data-content="signup">
                                        <h3 class="text-center">댓글 수정</h3> <!-- 제목 가운데 정렬 -->
                                        <form action="/reportboardcomment/updateOK" method="post" th:target="submitFrame"
                                              th:onsubmit="formSubmitted = true;">

                                            <div class="row form-group">
                                                <div class="col-md-12">
                                                    <input type="hidden" name="report_board_comment_id"
                                                           th:value="${vo2.report_board_comment_id}"> <!-- 댓글 ID 업데이트 -->
                                                    <input type="hidden" name="report_board_id"
                                                           th:value="${vo2.report_board_id}"> <!-- 게시판 ID 업데이트 -->
                                                </div>
                                            </div>

                                            <div class="row form-group">
                                                <div class="col-md-12">
                                                    <label for="report_board_comment_content">댓글 내용</label>
                                                    <textarea id="report_board_comment_content"
                                                              name="report_board_comment_content" class="form-control"
                                                              placeholder="댓글을 입력해주세요" rows="5" maxlength="200"
                                                              th:text="${vo2.report_board_comment_content}"></textarea>
                                                </div>
                                            </div>

                                            <div class="row form-group">
                                                <div class="col-md-12 text-center">
                                                    <input type="submit" class="btn btn-primary" value="댓글 수정">
                                                </div>
                                            </div>
                                        </form>

                                        <iframe name="submitFrame" style="display:none;"
                                                th:onload="closePopupAndRedirect()"></iframe>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- jQuery -->
    <script src="/js/jquery.min.js"></script>
    <script src="/js/jquery.easing.1.3.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/jquery.waypoints.min.js"></script>
    <script src="/js/owl.carousel.min.js"></script>
    <script src="/js/jquery.countTo.js"></script>
    <script src="/js/jquery.stellar.min.js"></script>
    <script src="/js/jquery.magnific-popup.min.js"></script>
    <script src="/js/magnific-popup-options.js"></script>
    <script src="/js/bootstrap-datepicker.min.js"></script>
    <script src="/js/main.js"></script>
</body>

</html>
