<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>PartyBoardDelete</title>
<div th:replace="~{layout::boottemplate}"></div>
</head>
<body th:replace="~{layout::layout}">
<div th:fragment="content">
		<div>
			<form action="/partyboard/deleteOK" method="post">
				<input type="hidden" name="party_board_id" th:value="${vo2.party_board_id}">
				<table id="insertTable">
					<tr>
						<th>[[${vo2.party_board_id}]]번 게시글을 정말 삭제하시겠습니까?
						<input type="submit" value="삭제완료"></th>
					</tr>
				</table>
			</form>
		</div>
</div>
</body>
</html>