<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<div th:replace="~{layout::boottemplate}"></div>
</head>
<body th:replace="~{layout::layout}">
	<div th:fragment="content">
		<div class="container">
		<form action="/partyboard/searchList">
			<select name="searchKey">
				<option value="boss">boss</option>
				<option value="party_board_writer">party_board_writer</option>
				<option value="party_board_wdate">party_board_wdate</option>
			</select> 
			<input type="text" name="searchWord" value="ad"> 
			<input type="submit" value="검색">
		</form>
		<table class="table" >
		<thead>
			<tr>
				<th scope="col">게시글 번호</th>
				<th scope="col">파티 이름</th>			
				<th scope="col">요구 전투력</th>				
				<th scope="col">공략 보스</th>				
				<th scope="col">간단 메모</th>				
				<th scope="col">작성 자</th>				
				<th scope="col">작성 일</th>				
			</tr>
		</thead>
		<tbody>
			<th:block th:each="vo : ${list}">
				<tr><!-- partyid 대신 party name 나오게 하기 -->
					<th  scope="row"><a th:href="|/partyboard/selectOne?party_board_id=${vo.party_board_id}|">[[${vo.party_board_id}]]</a></th>
					<td>[[${vo.party_id}]]</td>
					<td>[[${vo.req_pwr}]]</td>
					<td>[[${vo.boss}]]</td>
					<td>[[${vo.party_board_memo}]]</td>
					<td>[[${vo.party_board_writer}]]</td>
					<td>[[${vo.party_board_wdate}]]</td>
				</tr>
			</th:block>
	</tbody>
	<tfoot>
		<tr>
			<td colspan="6">
				<th:block th:each="i : ${#numbers.sequence(1,totalPageCount)}">
					<th:block th:if="${param.searchKey == null}">
						<a th:href="|/partyboard/selectAll?cpage=${i}|">[[${i}]]</a>
					</th:block>
					<th:block th:if="${param.searchKey != null}" >
						<th:block th:with="searchKey=${param.searchKey},searchWord=${param.searchWord}">
							<a th:href="|/partyboard/searchList?cpage=${i}&searchKey=${searchKey}&searchWord=${searchWord}|">[[${i}]]</a>
						</th:block>
					</th:block>
				</th:block>	
			</td>
			<td><a href="/partyboard/insert">게시글 작성하기</a></td>
		</tr>
	</tfoot>	
</table>
</div>
</div>
</body>
</html>