<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>PartyBoardSelectAll</title>
    <div th:replace="~{layout::boottemplate}"></div>
    <script th:inline="javascript">

    function showPopup() {
        fetch('/checkLogin')
            .then(response => response.json())
            .then(data => {
                if (data.loggedIn) {
                    // 로그인된 경우에만 팝업 열기
                    var width = 600;
                    var height = 900;
                    var left = (window.screen.width / 2) - (width / 2);
                    var top = (window.screen.height / 2) - (height / 2);
                    window.open("/partyboard/insert", "makeparty", 
                        `width=${width},height=${height},left=${left},top=${top}`);
                } else {
                    // 로그인되지 않은 경우 알림 후 메인 페이지로 이동
                    alert('로그인을 진행해주세요.');
                    window.location.href = "/member/login";
                }
            })
            .catch(error => console.error('Error:', error));
    }


    </script>

    <style>
        .search-form {
            width: 400px;
            padding: 20px;
            border-radius: 8px;

        }

        .searchbar {
            width: 100%;
            display: flex;
            justify-content: center;
        }

        .boss-easy {
            color: rgb(195, 195, 215);
            /* 이지 */
            font-weight: bold;
        }

        .boss-normal {
            color: rgb(51, 170, 197);
            /* 노멀 */
            font-weight: bold;
        }

        .boss-hard {
            color: rgb(194, 58, 62);
            /* 하드 */
            font-weight: bold;
        }

        .boss-chaos {
            color: rgb(255, 221, 187);
            /* 카오스 */
            font-weight: bold;
        }

        .boss-extreme {
            color: rgb(238, 68, 85);
            /* 익스트림 */
            font-weight: bold;
        }

		.memo-content,.name-content {
    white-space: nowrap;  /* 줄바꿈 방지 */
    overflow: hidden;     /* 넘치는 텍스트 숨김 */
    text-overflow: ellipsis; /* 넘칠 경우 ... 표시 */
    max-width: 150px;     /* 원하는 너비 설정 */
}
        
    </style>
</head>

<body th:replace="~{layout::layout}">
    <div th:fragment="content">
        <div class="gtco-section">
            <div class="gtco-container">
                <div class=row>
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                                <tr>
                                 	<th class="col-fixed-width">번호</th>
							        <th class="col-fixed-width">파티 명</th>
							        <th class="col-fixed-width">월드</th>
							        <th class="col-fixed-width">요구 전투력</th>
							        <th class="col-fixed-width">공략 보스</th>
							        <th class="col-fixed-width">간단 메모</th>
							        <th class="col-fixed-width">작성 자</th>
							        <th class="col-fixed-width">작성 일</th>
              	                </tr>
                            </thead>
                            <tbody>
                                <th:block th:each="vo : ${list3}">
                                    <tr>
                                        <th scope="row"><a
                                                th:href="|/partyboard/selectOne?party_board_id=${vo.vo.party_board_id}|">[[${vo.vo.party_board_id}]]</a>
                                        </th>
                                        <td class="name-content">[[${vo.party_name}]]</td>
                                        <td>
                                         <img th:src="@{/world_icon/{world}.png(world=${vo.party_world})}"  alt="월드 이미지" style="width: 25px; height: 25px; border-radius: 4px;"/>
                                         [[${vo.party_world}]]</td>
                                        <td>[[${vo.vo.req_pwr}]]</td>
                                        <td>
                                         <img th:src="${vo.bossImagePath}" alt="보스 이미지" style="width: 50px; height: 50px; border-radius: 8px;"/>
                                        <span th:text="${vo.vo.boss}" th:classappend="
					    ${vo.vo.boss.contains('이지')} ? 'boss-easy' : 
					    (${vo.vo.boss.contains('노멀')} ? 'boss-normal' : 
					    (${vo.vo.boss.contains('하드')} ? 'boss-hard' : 
					    (${vo.vo.boss.contains('카오스')} ? 'boss-chaos' : 
					    (${vo.vo.boss.contains('익스트림')} ? 'boss-extreme' : ''))))">
                                          
                                        </span>
                                        </td>
                                        <td class="memo-content">[[${vo.vo.party_board_memo}]]</td>
                                        <td><a th:href="|/character/info?character_name=${vo.vo.party_board_writer}|">[[${vo.vo.party_board_writer}]]</a></td>
                                        <td>[[${vo.vo.party_board_wdate}]]</td>
                                    </tr>
                                </th:block>
                            </tbody>
                            <tfoot>
                                <tr>
                                    <td colspan="7" style="text-align: center;"> <!-- 가운데 정렬 -->
                                        <ul class="pagination pagination-sm justify-content-center">
                                            <!-- 부트스트랩 스타일 적용 -->
                                            <!-- 이전 페이지 버튼 -->
                                            <li class="page-item"
                                                th:classappend="${currentPage == 1} ? 'disabled' : ''">
                                                <a class="page-link"
                                                    th:href="|/partyboard/selectAll?cpage=${currentPage - 1}|">«</a>
                                            </li>

                                            <!-- 페이지 번호 반복 -->
                                            <th:block th:each="i : ${#numbers.sequence(1, totalPageCount)}">
                                                <li class="page-item"
                                                    th:classappend="${i == currentPage} ? 'active' : ''">
                                                    <a class="page-link"
                                                        th:href="|/partyboard/selectAll?cpage=${i}|">[[${i}]]</a>
                                                </li>
                                            </th:block>

                                            <!-- 다음 페이지 버튼 -->
                                            <li class="page-item"
                                                th:classappend="${currentPage == totalPageCount} ? 'disabled' : ''">
                                                <a class="page-link"
                                                    th:href="|/partyboard/selectAll?cpage=${currentPage + 1}|">»</a>
                                            </li>
                                        </ul>
                                    </td>

                                    <!-- 게시글 작성 버튼 -->
                                    <td>
                                        <input type="button" class="btn btn-primary btn-block" value="게시글작성"
                                            onclick="showPopup();">
                                    </td>
                                </tr>
                            </tfoot>
                        </table>
                        <div class="form">
                            <form action="/partyboard/searchList">
                                <select name="searchKey" class="input-sm">
                                	<option value="world">월드</option>
                                    <option value="boss">보스</option>
                                    <option value="party_board_writer">게시글 작성자</option>
                                </select>
                                <input class="input-sm" type="text" name="searchWord" placeholder="검색어를 입력하세요">
                                <input type="submit" class="btn-primary" value="검색">
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>