<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>비밀번호 찾기 결과</title>
<div th:replace="~{layout::boottemplate}"></div>
</head>
<body th:replace="~{layout::layout}">
	<div th:fragment="content">
		<h1>findPWResult</h1>
		<th:block>
			<div class="overlay"></div>
			<div class="gtco-container">
				<div class="row">
					<div id="gtco-header" role="banner">
						<div class="col-md-12 col-md-offset-0">
							<div class="row row-mt-15em">
								<div class="col-md-4 col-md-push-1 animate-box"
									data-animate-effect="fadeInRight">
									<div class="form-wrap">
										<div class="tab">
											<div class="tab-content">
												<div class="tab-content-inner active">
													<h5>계정의 이메일로 비밀번호가 전송되었습니다.</h5>
													<div class="row form-group">
														<div class="col-md-6">
															<button type="button" class="btn btn-primary" 
															onclick="location.href='/member/login'">로그인</button>
														</div>
														<div class="col-md-6">
															<button type="button" class="btn btn-primary"
															onclick="location.href='/main'">메인화면</button>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</th:block>
	</div>

</body>
</html>