<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<div th:replace="~{layout::boottemplate}"></div>
</head>
<body th:replace="~{layout::layout}">
	<div th:fragment="content">

		<th:block>
			<div class="overlay"></div>
			<div class="gtco-container">
				<div class="row">
					<div id="gtco-header" role="banner">
						<div class="col-md-12 col-md-offset-0">
							<div class="row row-mt-15em">
								<div class="col-md-4 col-md-push-1 animate-box"
									data-animate-effect="fadeInRight">
									<div class="form-wrap">
										<div class="tab">
											<div class="tab-content">
												<div class="tab-content-inner active">
													<form action="/member/findPwCheck" method="post">
														<div class="row form-group">
															<div class="col-md-12">
																<h3>비밀번호 찾기</h3>
															</div>
														</div>
														<div class="row form-group">
															<div class="col-md-12">
																<label for="id"><h4>ID를 입력하세요</h4></label>
															</div>
														</div>
														<div class="row form-group">
															<div class="col-md-12">
																<input type="text" id="id" class="form-control" name="id" value="admin">
															</div>
														</div>
														<div class="row form-group">
															<div class="col-md-12">
																<input type="submit" class="btn btn-primary btn-block" value="비밀번호 찾기">
															</div>
														</div>
													</form>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</th:block>
	</div>
</body>
</html>