<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
<h1>findPWResult</h1>
<a href="/main">main</a>
<a href="/member/insert">insert</a>
<a href="/member/insertOK">insertOK</a>
<a href="/member/update">update</a>
<a href="/member/updateOK">updateOK</a>
<a href="/member/delete">delete</a>
<a href="/member/deleteOK">deleteOK</a>
<a href="/member/selectOne">selectOne</a>
<a href="/member/selectAll">selectAll</a>
<a href="/member/searchList">searchList</a>
<a href="/member/login">login</a>
<a href="/member/loginOK">loginOK</a>
<a href="/member/findID">findID</a>
<a href="/member/findPw">findPw</a>
<a href="/member/findPwCheck">findPwCheck</a>
<a href="/member/findIDCheck">findIDCheck</a>
</body>
</html>