
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>회원가입 입력</title>
<div th:replace="~{layout::boottemplate}"></div>
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<script>
	$(function() {
		console.log("ready....");
		$("#btn_idCheck").click(function() {
			console.log("click....");
			let url2 = "http://localhost:8820/member/idCheck";
			$.ajax({
				url : url2,
				type : "get",
				data : {
					id : $("#id").val()
				},
				dataType : "json",
				success : function(response) {
					console.log(response);
					let message = '';
					if (response.result === 'OK') {
						message = '사용가능';
					} else {
						message = '중복된 아이디';
					}
					$("#resultId").html(message);
				},
				error : function(ex) {
					console.log(ex);
				}
			});
		});
		$("#btn_apiCheck").click(function() {
			console.log("click....");
			let url2 = "http://localhost:8820/member/apiCheck";
			$.ajax({
				url : url2,
				type : "get",
				data : {
					character_name : $("#character_name").val()
				},
				dataType : "json",
				success : function(response) {
					console.log(response);
					let message = '';
					if (response.result === 'OK') {
						message = '사용가능';
					} else {
						message = '이미 등록된 apikey입니다';
					}
					$("#resultApi").html(message);
				},
				error : function(ex) {
					console.log(ex);
				}
			});
		});
		$("#btn_apiToCharacter")
				.click(
						function() {
							console.log("click....");
							let url2 = "http://localhost:8820/member/apiToCharacter";
							$
									.ajax({
										url : url2,
										type : "get",
										data : {
											apikey : $("#apikey").val()
										},
										dataType : "json",
										success : function(response) {
											console.log(response);
											let character_name = response.character_name;
											let ocid = response.ocid;

											document
													.getElementById("character_name").value = character_name;
											document.getElementById("ocid").value = ocid;
										},
										error : function(ex) {
											console.log(ex);
										}
									});
						});
	});
</script>

</head>
<body th:replace="~{layout::layout}">
	<div th:fragment="content">
		<h1>insert</h1>
		<a href="/main">main</a> <a href="/member/insert">insert</a> <a
			href="/member/update">update</a> <a href="/member/delete">delete</a>
		<a href="/member/selectOne">selectOne</a> <a href="/member/selectAll">selectAll</a>
		<a href="/member/login">login</a> <a href="/member/loginOK">loginOK</a>
		<a href="/member/findID">findID</a> <a href="/member/findPw">findPW</a>
		<a href="/member/findPwCheck">findPWCheck</a> <a
			href="/member/findIDCheck">findIDCheck</a>
		<hr>
		<a href="/member/idCheck">idCheck</a> <a href="/member/apiCheck">apiCheck</a>
		<hr>
		<th:block>
			<div class="gtco-container">
				<div class="row">
					<div class="col-md-12 col-md-offset-0">
						<div class="row row-mt-15em">
							<div class="col-md-4 col-md-push-1 animate-box"
								data-animate-effect="fadeInRight">
								<div class="form-wrap">
									<div class="tab">
										<div class="tab-content">
											<div class="tab-content-inner active" data-content="signup">
												<form action="/member/insertOK" method="get">
													<div class="row form-group">
														<div class="col-md-12">
															<label for="id">ID</label> <input type="text" id="id"
																name="id" value="admin" placeholder="ID를 입력하세요">
															<input type="button" id="btn_idCheck" value="idCheck">
															<span id="resultId">사용가능 or 중복된 아이디</span>
														</div>
													</div>
													<div class="row form-group">
														<div class="col-md-12">
															<label for="pw">pw</label> <input type="text" id="pw"
																name="pw" value="hi1234" placeholder="비밀번호를 입력하세요">
														</div>
													</div>
													<div class="row form-group">
														<div class="col-md-12">
															<label for="email">email</label> <input type="text"
																id="email" name="email" value="abc@def.com"
																placeholder="이메일을 입력하세요">
														</div>
													</div>
													<div class="row form-group">
														<div class="col-md-12">
															<label for="apikey">apikey</label> <input type="text"
																id="apikey" name="apikey" value="0123456789abcdefg"
																placeholder="apikey 입력"> <input type="button"
																id="btn_apiToCharacter" value="캐릭터닉네임추출">
														</div>
													</div>
													<div class="row form-group">
														<div class="col-md-12">
															<label for="character_name">character_name</label> <input
																type="text" id="character_name" name="character_name"
																value="테스트" placeholder="캐릭터 이름 입력"> <input
																type="button" id="btn_apiCheck" value="apiCheck"><span
																id="resultApi">등록여부</span>
														</div>
													</div>
													<div class="row form-group">
														<div class="col-md-12">
															<label for="ocid">ocid</label> <input type="text"
																id="ocid" name="ocid" value="0001010101010"
																placeholder="ocid입력">
														</div>
													</div>
													<div class="row form-group">
														<div class="col-md-12">
															<input type="submit" value="가입완료">
														</div>
													</div>
												</form>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</th:block>
	</div>
</body>
</html>