<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>회원가입 입력</title>
<div th:replace="~{layout::boottemplate}"></div>
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<script th:inline="javascript">
	let isIdChecked = false;
	let isApiChecked = false;
	$(function() {
		validateForm();
		console.log("ready....");
		$("#btn_idCheck").click(function() {
			console.log("click....");
			let url2 = "http://localhost:8820/member/idCheck";
			$.ajax({
				url : url2,
				type : "get",
				data : {
					id : $("#id").val()
				},
				dataType : "json",
				success : function(response) {
					console.log(response);
					let message = '';
					if (response.result === 'OK') {
						message = '사용가능';
						isIdChecked = true;
						validateForm();
					} else {
						message = '중복된 아이디';
						validateForm();

					}
					$("#resultId").html(message);
				},
				error : function(ex) {
					console.log(ex);
				}
			});
		});
		$("#btn_apiCheck").click(function() {
			console.log("click....");
			let url2 = "http://localhost:8820/member/apiCheck";
			$.ajax({
				url : url2,
				type : "get",
				data : {
					character_name : $("#character_name").val()
				},
				dataType : "json",
				success : function(response) {
					console.log(response);
					let message = '';
					if (response.result === 'OK') {
						message = '사용가능';
						isApiChecked = true;
						validateForm();
					} else {
						message = '이미 등록된 apikey입니다';
						validateForm();
					}
					$("#resultApi").html(message);
				},
				error : function(ex) {
					console.log(ex);
				}
			});
		});
		$("#btn_apiToCharacter")
				.click(
						function() {
							console.log("click....");
							let url2 = "http://localhost:8820/member/apiToCharacter";
							$
									.ajax({
										url : url2,
										type : "get",
										data : {
											apikey : $("#apikey").val()
										},
										dataType : "json",
										success : function(response) {
											console.log(response);
											let character_name = response.character_name;
											let ocid = response.ocid;

											if (ocid == null) {
												$("#apiResult").html(
														"유효하지 않은 api");
											}
											document
													.getElementById("character_name").value = character_name;
											document.getElementById("ocid").value = ocid;
										},
										error : function(ex) {
											console.log(ex);
										}
									});
						});
	});
	$('#id').on('input', function() {
		isIdChecked = false;
		validateForm();
	});
	$('#apikey').on('input', function(){
		
	});
	function validateForm() {
		const id = $('#id').val().trim();
		const api = $('#apikey').val().trim();
		const submitButton = $('#submitButton');
		submitButton.prop('disabled',
				!(id !== '' && isIdChecked && isApiChecked));
	}
</script>
<style>
.result {
	font-size: 1.2rem;
	position: absolute;
	margin-top: 5px;
	margin-left: 5px;
}
</style>
</head>
<body th:replace="~{layout::layout}">
	<div th:fragment="content">
		<script th:if="${joinResult=='Failed'}">
			alert("회원가입에 실패했습니다.");
		</script>
		<h1>회원가입</h1>
		<th:block>
			<div class="overlay"></div>
			<div class="gtco-container">
				<div class="row">
					<div id="gtco-header" role="banner">
						<div class="col-md-12 col-md-offset-0">
							<div class="row row-mt-15em">
								<div class="col-md-4 col-md-push-1 animate-box"
									data-animate-effect="fadeInRight">
									<div class="form-wrap">
										<div class="tab">
											<div class="tab-content">
												<div class="tab-content-inner active">
													<form action="/member/insertOK" method="post">
														<div class="row form-group">
															<div class="col-md-12">
																<label for="id">ID</label> <input type="text" id="id"
																	name="id" value="admin" class="form-control"
																	placeholder="ID를 입력하세요" maxlength="20"> <input
																	type="button" id="btn_idCheck" class="btn btn-primary"
																	value="idCheck"> <span id="resultId"
																	class="result"></span>
															</div>
														</div>
														<div class="row form-group">
															<div class="col-md-12">
																<label for="pw">비밀번호</label> <input type="password"
																	class="form-control" id="pw" name="pw" value="hi1234"
																	placeholder="비밀번호를 입력하세요" maxlength="20">
															</div>
														</div>
														<div class="row form-group">
															<div class="col-md-12">
																<label for="email">이메일주소</label> <input type="text"
																	id="email" class="form-control" name="email"
																	value="abc@def.com" placeholder="이메일을 입력하세요"
																	maxlength="45">
															</div>
														</div>
														<div class="row form-group">
															<div class="col-md-12">
																<label for="apikey">api</label> <input type="text"
																	id="apikey" name="apikey" class="form-control"
																	value="0123456789abcdefg" placeholder="apikey 입력"
																	maxlength="200"> <input type="button"
																	id="btn_apiToCharacter" class="btn btn-primary"
																	value="닉네임변환"> <span id="apiResult"
																	class="result"></span>
															</div>
														</div>
														<div class="row form-group">
															<div class="col-md-12">
																<label for="character_name">닉네임</label> <input
																	type="text" id="character_name" class="form-control"
																	name="character_name" value="테스트"
																	placeholder="캐릭터 이름 입력"> <input type="button"
																	id="btn_apiCheck" class="btn btn-primary" value="api">
																<span id="resultApi" class="result"></span>
															</div>
														</div>
														<div class="row form-group">
															<div class="col-md-12">
																<label for="ocid">ocid</label> <input type="text"
																	id="ocid" class="form-control" name="ocid"
																	value="0001010101010" placeholder="ocid입력">
															</div>
														</div>
														<div class="row form-group">
															<div class="col-md-12">
																<input type="submit" id="submitButton"
																	class="btn btn-primary btn-block" value="가입완료">
															</div>
														</div>
													</form>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</th:block>
	</div>
</body>
</html>