<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>비밀번호 변경</title>
<div th:replace="~{layout::boottemplate}"></div>
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<script th:inline="javascript">
	$(document).ready(function() {
		
		/*submitButton.prop('disabled',true);*/
		
		function comparePw() {
			const submitButton=$("#submitButton");
			let pw = $("#pw").val();
			let pwcheck = $("#pwcheck").val();

			if (pw === pwcheck) {
				$("#result").html("비밀번호가 일치합니다.");
				submitButton.prop('disabled',false);
			} else {
				$("#result").text("비밀번호가 일치하지 않습니다.");
				submitButton.prop('disabled',true);
			}
		}

		// Attach input event to both inputs to check for changes in real-time
		$("#pw, #pwcheck").on("input", function() {
			comparePw();
		});
		
	});
	
</script>

</head>
<body th:replace="~{layout::layout}">
	<div th:fragment="content">
		<th:block>
			<div class="overlay"></div>
			<div class="gtco-container">
				<div class="row">
					<div id="gtco-header" role="banner">
						<div class="col-md-12 col-md-offset-0">
							<div class="row row-mt-15em">
								<div class="col-md-4 col-md-push-1 animate-box"
									data-animate-effect="fadeInRight">
									<div class="form-wrap">
										<div class="tab">
											<div class="tab-content">
												<div class="tab-content-inner active">
													<form action="/member/pwChangeOK" method="post">
														<input type="hidden" name="id" th:value="${vo2.id}">
														<div class="row form-group">
															<div class="col-md-12">
																<h3>비밀번호 변경</h3>
															</div>
														</div>
														<div class="row form-group">
															<div class="col-md-12">
																<label for="oldpw">현재 비밀번호</label> <input
																	type="password" class="form-control" id="oldpw"
																	name="oldpw">
															</div>
														</div>
														<div class="row form-group">
															<div class="col-md-12">
																<label for="pw">새 비밀번호</label> <input type="password"
																	class="form-control" id="pw" name="pw">
															</div>
														</div>
														<div class="row form-group">
															<div class="col-md-12">
																<label for="pwcheck">비밀번호 확인</label> <input
																	type="password" class="form-control" id="pwcheck">
																<span id="result"></span>
															</div>
														</div>
														<div class="row form-group">
															<div class="col-md-12">
																<input type="submit" class="btn btn-primary btn-block"
																	value="비밀번호 수정" id="submitButton" disabled>
															</div>
														</div>
													</form>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</th:block>
	</div>
</body>
</html>