<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<div th:replace="~{layout::boottemplate}"></div>
<title>Insert title here</title>
</head>
<body th:replace="~{layout::layout}">
<div th:fragment="content">
		<div>
			<form action="/partylist/applicationOK" method="post">
				<input type="hidden" name="party_id" th:value="${vo2.party_id}">
				<table id="insertTable">
					<tr>
						<th>[[${vo2.party_name}]]파티에 가입을 신청하시겠습니까?
						<input type="submit" value="가입신청완료"></th>
					</tr>
				</table>
			</form>
		</div>
</div>
</body>
</html>