<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<div th:replace="~{layout::boottemplate}"></div>
<title>Insert title here</title>
</head>
<body th:replace="~{layout::layout}">
<div th:fragment="content">
		<div>
			<form action="/partylist/denyOK" method="post">
				<input type="hidden" name="party_id" th:value="${vo2.party_id}">
				<input type="hidden" name="member_id" th:value="${vo2.member_id}">
				<table id="insertTable">
					<tr>
						<th>[[${vo3.character_name}]]의 파티가입을 거부 하시겠습니까?
						<input type="submit" value="거부완료"></th>
					</tr>
				</table>
			</form>
		</div>
</div>
</body>
</html>