<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>PartyJoinDenyself</title>
    <div th:replace="~{layout::boottemplate}"></div>
    <script th:inline="javascript">
    var formSubmitted = false;

    function closePopupAndRedirect() {
        if (formSubmitted) {
            if (window.opener) {
                window.opener.location.href = '/partylist/myparty'; // 원하는 URL로 리다이렉트
            }
            window.close(); // 팝업 창 닫기
        }
    }
    </script>
</head>
<body>
<div class="gtco-container">
    <div class="row">
        <div class="col-md-12 col-md-offset-0">
            <div class="row row-mt-15em">
                <div class="col-md-6 col-md-push-3 animate-box" data-animate-effect="fadeInRight">
                    <div class="form-wrap">
                        <div class="tab">
                            <div class="tab-content">
                                <div class="tab-content-inner active" data-content="signup">
                                    <h3 class="text-center">파티 가입 신청 취소</h3> <!-- 제목 가운데 정렬 -->
                                    <form action="/partylist/denyOK" method="post" th:target="submitFrame" th:onsubmit="formSubmitted = true;">
                                        <div class="row form-group">
                                            <div class="col-md-12 d-flex flex-column align-items-center">
                                                <input type="hidden" name="party_id" th:value="${vo2.party_id}">
                                                <input type="hidden" name="member_id" th:value="${vo2.member_id}">
                                                <p class="text-center mt-3">
                                                    [[${vo4.party_name}]]  파티 가입신청을 취소하시겠습니까?
                                                </p>
                                            </div>
                                        </div>

                                        <div class="row form-group">
                                            <div class="col-md-12 text-center">
                                                <input type="submit" class="btn btn-danger" value="가입 신청 취소">
                                            </div>
                                        </div>
                                    </form>

                                    <iframe name="submitFrame" style="display:none;" th:onload="closePopupAndRedirect()"></iframe>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- jQuery -->
<script src="/js/jquery.min.js"></script>
<script src="/js/jquery.easing.1.3.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/jquery.waypoints.min.js"></script>
<script src="/js/owl.carousel.min.js"></script>
<script src="/js/jquery.countTo.js"></script>
<script src="/js/jquery.stellar.min.js"></script>
<script src="/js/jquery.magnific-popup.min.js"></script>
<script src="/js/magnific-popup-options.js"></script>
<script src="/js/bootstrap-datepicker.min.js"></script>
<script src="/js/main.js"></script>
</body>
</html>
