<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<div th:fragment="commentinsert">
		<form action="/partyboardcomment/insertOK" method="post">
		<input type="hidden" name="party_board_id" th:value=${vo2.party_board_id}>
		<input type="hidden" name="party_board_comment_writer" th:value=${session.user_character}>
		<table>
			<tr>
				<td>댓글 작성</td>
				<td><input type="text" id="party_board_comment_content" name="party_board_comment_content" placeholder="댓글을 입력하세요"></td>
			<tr>
			<tr>
            	<td colspan="2"><input type="submit" value="댓글입력"></td>
       		</tr>		
		</table>
	</form>
	</div>
</body>
</html>