<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<script src="https://cdn.tailwindcss.com"></script>
<title>캐릭터 검색</title>
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<div th:replace="~{layout::boottemplate}"></div>
<script>
	$(document).ready(function(){
		console.log("ready");
		favoriteList(1);
		
	});
	function favoriteList(pageNum) {
		console.log("favoriteList()"+pageNum);
		let url2 = "http://localhost:8820/favorite/searchList";
		let user_id="[[${session.user_id}]]"
		$.ajax({
			url : url2,
			type : "get",
			data : {
				id : user_id,
				cpage : pageNum
			},
			dataType : "json",
			success : function(response) {
				console.log(response);
				renderTable(response.list);
				console.log("totlpageCount:"+response.totalPageCount);
                updatePagination(pageNum, response.totalPageCount, response.currentPage, user_id);
			},
			error : function(ex) {
				console.log(ex);
			}
		});	
	}
	function renderTable(list) {
	    let tbody = $("#favoriteTable tbody");
	    console.log("renderTable");
	    console.log(tbody);
	    console.log(list);
	    
	    tbody.empty(); // 기존 데이터를 지웁니다.
	    
	    list.forEach((item) => {
	    	console.log(item);
	        let row = `<tr>
	                       <td>${item.character_name}</td>
	                       
	                       <td><a href="/character/info?character_name=${item.character_name}">바로가기</a></td>
	                   </tr>`;
	        console.log(row);
	        tbody.append(row);
	    });
	}
	function updatePagination(pageNum, totalPageCount, currentPage, user_id) {
		console.log("updatePagination");
		console.log(totalPageCount);
		let tfoot = $("#pagination");
		let li=``;
		li += `<li class="page-item ${currentPage === 1 ? 'disabled' : ''}">`;
		if(currentPage===1){
			li+= `<a class="page-link" onclick="#">«</a>`;
		}else{			
            li+=`<a class="page-link" onclick="favoriteList(${currentPage-1})">«</a>`;
		}
        li+=`</li>`;

 		// 페이지 번호 버튼
		 for (let i = 1; i <= totalPageCount; i++) {
			 console.log(i);
		     li += `<li class="page-item ${i === currentPage ? 'active' : ''}">
		                <a class="page-link" onclick="favoriteList(${i})">${i}</a>
		             </li>`;
		     console.log(li);
		 }

 		// 다음 버튼
 		li += `<li class="page-item ${currentPage === totalPageCount ? 'disabled': ''}">`        	
 		if(currentPage===totalPageCount){
		 	li+=`<a class="page-link" onclick="#">»</a>`;
        }else{
		 	li+=`<a class="page-link" onclick="favoriteList(${currentPage+1})">»</a>`;
        }
        li+= `</li>`;
        tfoot.empty().append(li);
	}
	
</script>
</head>
<body th:replace="~{layout::layout}">
	<div th:fragment="content">
		<!-- <h4>[[${user_id}]]</h4>
		<div>
			<a href="/main">main</a> <a href="/member/insert">insert</a> <a
				href="/member/insertOK">insertOK</a> <a
				th:href="|/member/update?id=${user_id}|">update</a> <a
				href="/member/updateOK">updateOK</a> <a href="/member/delete">delete</a>
			<a href="/member/deleteOK">deleteOK</a> <a href="/member/selectOne">selectOne</a>
			<a href="/member/selectAll">selectAll</a> <a
				href="/member/searchList">searchList</a> <a href="/member/login">login</a>
			<a href="/member/logout">logout</a> <a href="/member/findID">findID</a>
			<a href="/member/findPw">findPw</a> <a href="/member/findPwCheck">findPwCheck</a>
			<a href="/member/findIDCheck">findIDCheck</a> <a
				href="/member/apiCheck">apiCheck</a>
		</div> -->
		<div class="w-[600px] mx-auto">
			<form method="get" action="/character/info" class="relative">
				<div
					class="flex items-center bg-white rounded-sm overflow-hidden border border-gray-300"
					tabindex="0">

					<div data-orientation="vertical" role="none"
						class="shrink-0 w-[1px] h-[0.8em] bg-foreground/10"></div>
					<input
						class="flex h-10 w-full rounded-md border-input py-2 text-md ring-offset-background file:border-0 file:bg-input file:text-sm file:font-medium placeholder:text-muted-foreground focus-visible:outline-none focus-visible:ring-ring disabled:cursor-not-allowed disabled:opacity-50 px-1 bg-transparent border-0 focus-visible:ring-0 focus-visible:ring-offset-0"
						placeholder="닉네임을 입력하세요" spellcheck="false" value=""
						name="character_name">
					<button
						class="inline-flex items-center justify-center whitespace-nowrap text-sm font-medium ring-offset-background transition-colors focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:pointer-events-none disabled:opacity-50 hover:bg-accent hover:text-accent-foreground h-auto p-1.5 mr-1 rounded-md w-0 px-0 invisible cursor-text"
						type="button">
						<svg xmlns="http://www.w3.org/2000/svg" width="1.25em"
							height="1.25em" viewBox="0 0 24 24" fill="none"
							stroke="currentColor" stroke-width="2" stroke-linecap="round"
							stroke-linejoin="round" class="lucide lucide-x">
                    <path d="M18 6 6 18"></path>
                    <path d="m6 6 12 12"></path>
                </svg>
					</button>
					<button
						class="inline-flex items-center justify-center whitespace-nowrap text-sm font-medium ring-offset-background transition-colors focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:pointer-events-none disabled:opacity-50 hover:bg-accent hover:text-accent-foreground w-auto h-auto p-1.5 mr-1 rounded-md"
						type="submit">
						<svg xmlns="http://www.w3.org/2000/svg" width="1.25em"
							height="1.25em" viewBox="0 0 24 24" fill="none"
							stroke="currentColor" stroke-width="2" stroke-linecap="round"
							stroke-linejoin="round" class="lucide lucide-search">
                    <circle cx="11" cy="11" r="8"></circle>
                    <path d="m21 21-4.3-4.3"></path>
                </svg>
					</button>
				</div>
			</form>
			<div class="mt-4 w-full text-center overflow-auto">
				<th:block th:if="${notFound=='NotFound'}">
					<div
						class="inline-flex items-center justify-center flex-wrap gap-2 px-2 text-red-300">존재하지
						않는 플레이어입니다.</div>
				</th:block>
				<br>
				<div
					class="inline-flex items-center justify-center flex-wrap gap-2 px-2 [&amp;_.button]:text-zinc-300">영어일
					경우, 대소문자 구분을 해주세요!</div>
			</div>
			<th:block th:if="${session.user_id!=null}">
				<div class="gtco-section">
					<div class="gtco-container">
						<div class=row>
							<div class="table-responsive">
								<div
									class="inline-flex items-center justify-center flex-wrap gap-2 px-2 [&amp;_.button]:text-black-300">즐겨찾기</div>
								<table id="favoriteTable" class="table">
									<thead>
										<th scope="col">닉네임</th>
										<th scope="col">링크</th>
									</thead>
									<tbody>

									</tbody>
									<tfoot>
										<tr>
											<td
												th:attr="colspan=${session.user_id} != null and ${session.admin_name} != null ? 3 : 4"
												style="text-align: center;">
												<ul class="pagination pagination-sm justify-content-center"
													id="pagination">
													<!-- 페이지 버튼들이 여기에 동적으로 추가됩니다. -->
												</ul>
											</td>
										</tr>
									</tfoot>
								</table>
							</div>
						</div>
					</div>
				</div>
			</th:block>
		</div>
	</div>
</body>
</html>