<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<h1>Info</h1>
<a href="/main">main</a>
<a href="/member/insert">insert</a>
<a href="/member/insertOK">insertOK</a>
<a href="/member/update">update</a>
<a href="/member/updateOK">updateOK</a>
<a href="/member/delete">delete</a>
<a href="/member/deleteOK">deleteOK</a>
<a href="/member/selectOne">selectOne</a>
<a href="/member/selectAll">selectAll</a>
<a href="/member/searchList">searchList</a>
<a href="/member/login">login</a>
<a href="/member/logout">logout</a>
<a href="/member/findID">findID</a>
<a href="/member/findPw">findPw</a>
<a href="/member/findPwCheck">findPwCheck</a>
<a href="/member/findIDCheck">findIDCheck</a>
<a href="/member/apiCheck">apiCheck</a>
<hr>
<h3>아래 API정보조회 캐릭터는 "나로티아사"라는 캐릭터입니다. 다른 api사이트에서 직접 검색해서 비교하셔도 됩니다.</h3>
<hr>
<a href="/character/infoTestBasic">기본정보</a>
<a href="/character/infoTestStat">스탯</a>
<a href="/character/infoTestHyperStat">하이퍼스탯</a>
<a href="/character/infoTestPropensity">성향</a>
<a href="/character/infoTestAbility">어빌리티</a>
<a href="/character/infoTestItemEquipment">아이템정보</a>
<a href="/character/infoTestCashItemEquipment">캐시아이템정보</a>
<a href="/character/infoTestSymbolEquipment">심볼 장착 정보</a>
<a href="/character/infoTestSetEffect">세트 효과 정보</a>
<a href="/character/infoTestBeautyEquipment">외형정보</a>
<a href="/character/infoTestAndroidEquipment">안드로이드 정보</a>
<a href="/character/infoTestPetEquipment">펫 정보</a>
<a href="/character/infoTestSkill">스킬 정보</a>
<a href="/character/infoTestLinkSkill">링크 스킬 정보</a>



</body>
</html>