<!doctype html>
<html lang="en">
  <head>
  	<div th:replace="~{layout::boottemplate}"></div>
  
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400&display=swap" rel="stylesheet">

    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500&display=swap" rel="stylesheet">

    
    <link rel="stylesheet" href="calendar-20/fonts/icomoon/style.css">
  
    <link href='calendar-20/fullcalendar/packages/core/main.css' rel='stylesheet' />
    <link href='calendar-20/fullcalendar/packages/daygrid/main.css' rel='stylesheet' />
    
    
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="calendar-20/css/bootstrap.min.css">
    
    <!-- Style -->
    <link rel="stylesheet" href="calendar-20/css/style.css">

    <title>Calendar #10</title>
  </head>
 
  <body th:replace="~{layout::layout}">
   
 <div th:fragment="content">

  <div id='calendar-container'>
 <div>
	<table id="insertTable">
			<thead>
					[[${partyvo.party_name}]]&nbsp;&nbsp;&nbsp;&nbsp;
					<th:block th:each="pvo : ${plist}">
					<tr><a th:href="|/cindex?party_id=${pvo.party_id}|">[[${pvo.party_name}]]파티&nbsp;&nbsp;&nbsp;&nbsp;</a></tr>						
					</th:block>
					<hr>
					<a th:href="|/chat/room2/${partyvo.party_id}|">파티채팅방 </a>
					<input type="button" class="btn btn-primary btn-block" value="파티채팅방팝업"
                                            onclick="showPopup();">
			</thead>
			<tbody>				
			</tbody>
		</table>
	</div>
	
	
    <div id='calendar'></div>
  </div>
  
  
    
    

    <script src="calendar-20/js/jquery-3.3.1.min.js"></script>
    <script src="calendar-20/js/popper.min.js"></script>
    <script src="calendar-20/js/bootstrap.min.js"></script>

    <script src='calendar-20/fullcalendar/packages/core/main.js'></script>
    <script src='calendar-20/fullcalendar/packages/interaction/main.js'></script>
    <script src='calendar-20/fullcalendar/packages/daygrid/main.js'></script>
    <script src='calendar-20/fullcalendar/packages/timegrid/main.js'></script>
    <script src='calendar-20/fullcalendar/packages/list/main.js'></script>

    

    <script>
      document.addEventListener('DOMContentLoaded', function() {
    var calendarEl = document.getElementById('calendar');
    
    var today = new Date();

    var calendar = new FullCalendar.Calendar(calendarEl, {
      plugins: [ 'interaction', 'dayGrid', 'timeGrid', 'list' ],
      height: 'parent',
      customButtons: {
    	    myCustomButton: {
    	      text: 'New Event',
    	      click: function() {
    	    	  var width = 600;
    	    		var height = 900;
    	    	    var left = (window.screen.width / 2) - (width / 2);
    	    		var top = (window.screen.height / 2) - (height / 2);
    	    	  window.open("/event/insert?party_id="+ [[${partyvo.party_id}]],"a",
    	    			  `width=${width},height=${height},left=${left},top=${top}`)

    	      }
    	    },
    	    myCustomButton2: {
      	      text: 'Home',
      	      click: function() {
      	    	  location.href="/main";
      	      }
      	    }
      },
      header: {
        left: 'myCustomButton2 prev,next today',
        center: 'title',
        right: 'myCustomButton dayGridMonth,timeGridWeek,timeGridDay,listWeek'
      },
      defaultView: 'dayGridMonth',
      defaultDate: today,
      navLinks: true, // can click day/week names to navigate views
      editable: true,
      eventLimit: true, // allow "more" link when too many events
      events: [
          $.ajax({
              type: "get",
              url: '/EventList?party_id='+ [[${partyvo.party_id}]],
              success: function (data) {
                  if (data != null) {
                      for (let i = 0; i < data.length; i++) {
                          calendar.addEvent({
                        	  id: data[i].event_id,
                        	  url: '/event/update?event_id=' + data[i].event_id,
                              title: data[i].event_title,
                              start: data[i].event_startTime,
                              end: data[i].event_endTime
                          })
                      }
                  }
              }
          })
      ]
    });

    calendar.render();
  });
      
      function showPopup() {
                      var width = 600;
                      var height = 900;
                      var left = (window.screen.width / 2) - (width / 2);
                      var top = (window.screen.height / 2) - (height / 2);
                      window.open("/chat/room2/" + [[${partyvo.party_id}]], "makeparty", 
                          `width=${width},height=${height},left=${left},top=${top}`);
                  
      }

    </script>

    <script src="calendar-20/js/main.js"></script>
    </div>
  </body>
</html>