<!doctype html>
<html lang="en">
  <head>
  	
  
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400&display=swap" rel="stylesheet">

    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500&display=swap" rel="stylesheet">

    
    <link rel="stylesheet" href="calendar-20/fonts/icomoon/style.css">
  
    <link href='calendar-20/fullcalendar/packages/core/main.css' rel='stylesheet' />
    <link href='calendar-20/fullcalendar/packages/daygrid/main.css' rel='stylesheet' />
    
    
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="calendar-20/css/bootstrap.min.css">
    
    <!-- Style -->
    <link rel="stylesheet" href="calendar-20/css/style.css">
    
    <style> 
    /* 왼쪽 하단에 버튼을 고정하는 스타일 */ .fixed-bottom-left { position: fixed; bottom: 20px; /* 하단에서의 거리 */ left: 20px; /* 왼쪽에서의 거리 */ z-index: 1000; /* 다른 요소 위에 버튼을 표시 */ } 
    .pppp {
	background: #09C6AB;
	color: #fff;
	border-radius: 5px ;	
	}

    
    </style>




    <title>Calendar #10</title>
  </head>
 
  <body >
   
 <div th:fragment="content">

  <div id='calendar-container'>
 <div class="fixed-bottom-left pppp">
	<details><table  id="insertTable">
			<thead>
					<summary>[[${partyvo.party_name}]]&nbsp;&nbsp;&nbsp;&nbsp;</summary>
					<th:block th:each="pvo : ${plist}">
					<tr><a th:href="|/cindex?party_id=${pvo.party_id}|" style="color: white">[[${pvo.party_name}]]파티&nbsp;&nbsp;&nbsp;&nbsp;</a></tr>						
					</th:block>
	
			</thead>
			<tbody>				
			</tbody>
		</table></details>
	</div>
	
	
    <div id='calendar'></div>
  </div>
  
  
    
    

    <script src="calendar-20/js/jquery-3.3.1.min.js"></script>
    <script src="calendar-20/js/popper.min.js"></script>
    <script src="calendar-20/js/bootstrap.min.js"></script>

    <script src='calendar-20/fullcalendar/packages/core/main.js'></script>
    <script src='calendar-20/fullcalendar/packages/interaction/main.js'></script>
    <script src='calendar-20/fullcalendar/packages/daygrid/main.js'></script>
    <script src='calendar-20/fullcalendar/packages/timegrid/main.js'></script>
    <script src='calendar-20/fullcalendar/packages/list/main.js'></script>

    

    <script>
      document.addEventListener('DOMContentLoaded', function() {
    var calendarEl = document.getElementById('calendar');
    
    var today = new Date();

    var calendar = new FullCalendar.Calendar(calendarEl, {
      plugins: [ 'interaction', 'dayGrid', 'timeGrid', 'list' ],
      height: 'parent',
      customButtons: {
    	    myCustomButton: {
    	      text: 'New Event',
    	      click: function() {
    	    	  var width = 600;
    	    		var height = 900;
    	    	    var left = (window.screen.width / 2) - (width / 2);
    	    		var top = (window.screen.height / 2) - (height / 2);
    	    	  window.open("/event/insert?party_id="+ [[${partyvo.party_id}]],"a",
    	    			  `width=${width},height=${height},left=${left},top=${top}`)

    	      }
    	    },
    	    myCustomButton2: {
      	      text: 'Home',
      	      click: function() {
      	    	  location.href="/main";
      	      }
      	    },
      	  myCustomButton3: {
    	      text: 'Chat',
    	      click: function() {
    	    	  var width = 600;
    	    		var height = 900;
    	    	    var left = (window.screen.width / 2) - (width / 2);
    	    		var top = (window.screen.height / 2) - (height / 2);
    	    		window.open("/chat/room2/" + [[${partyvo.party_id}]], "makeparty", 
                    `width=${width},height=${height},left=${left},top=${top}`);

    	      }
    	    }
      },
      header: {
        left: 'myCustomButton2 prev,next today  myCustomButton3',
        center: 'title',
        right: 'myCustomButton dayGridMonth,timeGridWeek,timeGridDay,listWeek'
      },
      defaultView: 'dayGridMonth',
      defaultDate: today,
      navLinks: true, // can click day/week names to navigate views
      editable: true,
      eventLimit: true, // allow "more" link when too many events
      events: [
          $.ajax({
              type: "get",
              url: '/EventList?party_id='+ [[${partyvo.party_id}]],
              success: function (data) {
                  if (data != null) {
                      for (let i = 0; i < data.length; i++) {
                          calendar.addEvent({
                        	  id: data[i].event_id,                        	  
                              title: data[i].event_title,
                              start: data[i].event_startTime,
                              end: data[i].event_endTime
                          })
                      }
                  }
              }
          })
      ],
      eventClick: function(event) {
    	  var width = 600;
  		var height = 900;
  	    var left = (window.screen.width / 2) - (width / 2);
  		var top = (window.screen.height / 2) - (height / 2);
  	  window.open('/event/update?event_id='+event.event.id,"a",
  			  `width=${width},height=${height},left=${left},top=${top}`)

      }
    });

    calendar.render();
  });


    </script>

    <script src="calendar-20/js/main.js"></script>
    </div>
  </body>
</html>