<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
<footer  id="gtco-footer" role="contentinfo">
		<div th:fragment="footer" class="gtco-container">
		<hr>
			<div class="row row-p	b-md">
				<div class="col-md-4">
					<div class="gtco-widget">
						<h3>About Us</h3>
						<p>multi campus backend 26기</p>
					</div>
				</div>

				<div class="col-md-2 col-md-push-1">
					<div class="gtco-widget">
						<h3>고객센터</h3>
						<ul class="gtco-footer-links">
							<li><a href="/notice/selectAll">공지사항</a></li>
							<li><a href="/reportboard/selectAll">신고게시판</a></li>
							<li><a href="/guide/guide">유저 가이드</a></li>
						</ul>
					</div>
				</div>

				<div class="col-md-2 col-md-push-1">
					<div class="gtco-widget">
						<h3>사용자 기능</h3>
						<ul class="gtco-footer-links">
							<li><a href="/character/info">캐릭터 검색</a></li>
							<li><a href="/event/searchList">캘린더</a></li>
							<li><a href="/party/searchList">내 파티</a></li>
							<li><a href="/partyboard/selectAll">파티 모집 게시판</a></li>
							<li><a href="/reporttroll/selectAll">박제 게시판</a></li>
						</ul>
					</div>
				</div>

				<div class="col-md-3 col-md-push-1">
					<div class="gtco-widget">
						<h3>Get In Touch</h3>
						<ul class="gtco-quick-contact">
							<li><a href="#"><i class="icon-mail2"></i> info@freehtml5.co</a></li>
						</ul>
					</div>
				</div>

			</div>

			<div class="row copyright">
				<div class="col-md-12">
					<p class="pull-left">
						<small class="block">&copy; 2016 Free HTML5. All Rights Reserved.</small> 
						<small class="block">Designed by <a href="https://freehtml5.co/" target="_blank">FreeHTML5.co</a> Demo Images: <a href="http://unsplash.com/" target="_blank">Unsplash</a></small>
						<small class="block">&copy;partyDuo 에서 제공하는 모든 데이터는 NEXON DEVELOPERS에서 제공 받고 있습니다. 데이터의 소유권은 NEXON에 있으며, 언제든지 서비스가 종료될 수 있습니다. </small> 
					</p>
				</div>
			</div>

		</div>
	</footer>
</body>
</html>