<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" >

<head>
	<meta charset="UTF-8">
	
	
	
	<script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sockjs-client@1/dist/sockjs.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>
	
	<style> 
input[type=button], input[type=submit] {
  background-color: #09C6AB;
  border-radius: 3px ;
  color: white;
  padding: 2px 4px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
}

.textbox{
	 display: inline-block;
  position: relative;
  background-color: #ea5936;
  border-radius: 20px;
  color: #fff;
  padding: 7px 12px;
  margin-bottom: 10px;
  max-width: 230px;
}


</style>

</head>

<body >
<th:block >
    <div >

        <div class="container">
            <div class="col-6">
                <h1>[[${room.party_name}]]</h1>
            </div>
            	<div>
						<table id="insertTable">
							<tbody>
								<th:block th:each="vo2 : ${chat_list}">
									<tr>
										<td>
										<div class='col-6'>
											<div class='alert alert-secondary textbox'>
												<b>[[${vo2.chat_writer}]]  :  [[${vo2.chat_content}]] </b>
											</div>
										</div>
										
										
										
										<td th:if="${vo2.chat_writer==session.user_character}">
										
											<form action="/chat/deleteOK" method="post">
												<input type="hidden" name="chat_id"
													th:value="${vo2.chat_id}">
												<table id="insertTable">
													<tr>
														<th><input type="submit" value="x"></th>
													</tr>
												</table>
											</form>
										</td>
										</td>
									</tr>											
								</th:block>
							</tbody>
						</table>         
                
            </div>
            <div id="msgArea" class="col"></div>
            <div class="col-6">
                    <div class="input-group mb-3">
                        <input type="text" id="msg" class="form-control">
                        <div class="input-group-append">
                            <input class="btn btn-outline-secondary" type="button" id="button-send" value="전송">
                        </div>
                    </div>
                </div>
            
            
            <div class="col-6"></div>
        </div>

		
    </div>
</th:block>

<script th:inline="javascript">
            $(document).ready(function(){

                var roomName = [[${room.party_name}]];
                var roomId = [[${room.party_id}]];
                var username = [[${session.user_character}]];

                console.log(roomName + ", " + roomId + ", " + username);

                var sockJs = new SockJS("/stomp/chat");
                //1. SockJS를 내부에 들고있는 stomp를 내어줌
                var stomp = Stomp.over(sockJs);

                //2. connection이 맺어지면 실행
                stomp.connect({}, function (){
                   console.log("STOMP Connection")

                   //4. subscribe(path, callback)으로 메세지를 받을 수 있음
                   stomp.subscribe("/sub/chat/room2/" + roomId, function (chat) {
                       var content = JSON.parse(chat.body);

                       var writer = username;
                       var str = '';
                       console.log(writer + ", " + content.chat_id + ", " );
                       if(content.chat_content != null){
                       if(writer === content.chat_writer){
                           str = "<th:block><tr><td><div class='col-6'>";
                           str += "<div class='alert alert-secondary textbox'>";
                           str += "<b>" + writer + " : " + content.chat_content + "</b>";
                           str += "</div></div></td>";
                           str += '<td><form action="/chat/deleteOK" method="post">';
                           str += '<input type="hidden" id="chat_id" name="chat_id" value="' + content.chat_id + '">';
                           str += '<table id="insertTable"><tr>';
                           str += '<th><input type="submit" value="x"></th>';
                           str += '</tr></table></form></td></tr></th:block>';
             $("#msgArea").append(str);
                       }
                       else{
                           str = "<div class='col-6'>";
                           str += "<div class='alert alert-warning'>";
                           str += "<b>" + content.chat_writer + " : " + content.chat_content + "</b>";
                           str += "</div></div>";
                           $("#msgArea").append(str);
                       }
                       }

                       
                   });

                   //3. send(path, header, message)로 메세지를 보낼 수 있음
                   stomp.send('/pub/chat/enter', {}, JSON.stringify({chat_id: 0, party_id: roomId, chat_writer: username}))
                });

                $("#button-send").on("click", function(e){
                    var msg = document.getElementById("msg");

                    console.log(username + ":" + msg.value);
                    stomp.send('/pub/chat/message', {}, JSON.stringify({chat_id: 0, party_id: roomId, chat_content: msg.value, chat_writer: username}));
                    msg.value = '';
                });
            });
</script>
        
</body>

</html>
 